[2021-04-10 19:22] mikaelacaron opened #1 "Log in user"

[2021-04-10 19:22] mikaelacaron opened #2 "Show list of posts"

[2021-04-10 19:22] mikaelacaron opened #3 "Click on a single post and see details"

[2021-04-10 19:22] mikaelacaron opened #4 "Create new post"

[2021-04-10 19:22] mikaelacaron opened #5 "Reply to a post"

[2021-04-10 19:31] mikaelacaron opened #6 "UI Design"

[2021-04-11 07:21] mikaelacaron opened #13 "Add a Tweet to the app"
- [ ] parse id from twitter link
- [ ] use id in URL to call API
- [ ] Refactor API into singleton
- [ ] Call API and print tweet info to console

[2021-05-02 01:59] mikaelacaron opened #34 "User Profile Picture"
* Fetch the user's profile picture
* save to DataStoreshow in Tweet card
* show in tweet card

[2021-05-02 02:01] mikaelacaron opened #35 "Click on a tweet and open Twitter app on that tweet"

[2021-05-02 02:01] mikaelacaron opened #36 "Delete saved tweets"

[2021-05-02 02:01] mikaelacaron opened #37 "Allow user to choose icons for their categories"
Create a view that allows users to choose from various SFSymbosl to use for the icon of their category, rather than having the default `folder` that's in the app right now

[2021-05-02 02:34] mikaelacaron opened #38 "Ensure user selects a category before creating a new tweet"
popup an alert if the user hasn't selected a category

[2021-05-02 03:06] mikaelacaron opened #39 "Delete categories, and delete all the child tweets"

[2021-05-02 03:15] mikaelacaron opened #40 "bug: categories aren't updating"
Categories aren't updating after they're added to DataStore (which works) but after the modal is dismissed the main Categories screen doesn't show the new category

[2021-05-29 22:15] #40 closed

[2021-05-29 22:21] mikaelacaron commented on #37
I'm going to "archive" this right now. I'm changing the icons to the SFSymbol for folder, for now.

[2021-06-01 03:07] mikaelacaron opened #44 "Edit category name"
Be able to edit the category names. UI should be similar to the iOS Notes app

[2021-06-15 01:02] #39 closed

[2021-06-26 14:43] #44 closed

[2021-07-14 03:33] mikaelacaron commented on #35
Fixed with #45

[2021-07-14 03:33] #35 closed

[2021-07-14 03:36] mikaelacaron commented on #38
Fixed with #48

[2021-07-14 03:36] #38 closed

[2021-07-14 03:48] mikaelacaron opened #49 "Empty state for categories and TweetList"
Have an empty state for the categories (case where the app is first launched)

[2021-07-19 15:45] #34 closed

[2021-07-19 21:12] #36 closed

[2021-07-20 19:21] mikaelacaron opened #52 "Fix light/dark mode"

[2021-07-20 19:34] #49 closed

[2021-07-20 19:50] #52 closed

[2021-07-24 13:50] prabal4546 opened #57 "Add app in share sheet suggestions"
Creating a **Share extension** to add this app in the share-sheet for relevant content(_links_) would enable the users to directly jump to AddURLView & save the tweet thereby removing the need to open the app first altogether.
<p align="center">
<img src="https://user-images.githubusercontent.com/60341847/126870101-8f56a7fb-66f5-476a-87b1-4204d37b8209.png" width="50%" height="50%" >
</p>

[2021-07-24 22:10] lascic opened #58 "Category folder name label not updated after editing"
https://user-images.githubusercontent.com/34413704/126882040-cc37bf00-d3b0-46c7-8a37-58343b4a86d5.mp4

While the edited category name actually gets updated, it won't show it unless I restart the app.

[2021-10-01 04:17] mikaelacaron opened #63 "Version Number"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add the marketing version number to the app somewhere that makes sense (maybe adding a settings tab?)

**Describe alternatives you've considered**
Add the version number to the launch screen

[2021-10-02 00:28] mikaelacaron opened #65 "Pull to Refresh"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
* Add pull to refresh on the categories screen
   * Refresh the categories from AWS Amplify DataStore
* Add pull to refresh on the tweets screen
   * Fetch all tweets for the certain category from the Twitter API

**Describe alternatives you've considered**
None

**Additional context**
N/A

[2021-10-02 00:33] mikaelacaron opened #66 "Leading Swipe Action"
**Is your feature request related to a problem? Please describe.**
* No

**Describe the solution you'd like**
* Create a leading swipe action to move the tweet to a different category

**Describe alternatives you've considered**
* None

**Additional context**
* Be sure to also move the data in AWS Amplify Data Store

[2021-10-02 00:35] mikaelacaron opened #67 "Re-Order Category Folders"
**Is your feature request related to a problem? Please describe.**
* No

**Describe the solution you'd like**
* Press and hold a row to reorder the categories

**Describe alternatives you've considered**
* None

**Additional context**
* None

[2021-10-02 00:37] mikaelacaron opened #68 "Fetch Tweet Day/Time"
**Is your feature request related to a problem? Please describe.**
* No

**Describe the solution you'd like**
* Fetch the date/time of the tweet from the Twitter API when adding a new tweet
   * Save this info to AWS Amplify DataStore
   * Display this info on the Tweet Card in the TweetList

**Describe alternatives you've considered**
* None

**Additional context**
* N/A

[2021-10-02 00:38] mikaelacaron opened #69 "Fetch User's Verified Status"
**Is your feature request related to a problem? Please describe.**
* No

**Describe the solution you'd like**
* Fetch the verified status of the user from the Twitter API
   * Save this to AWS Amplify DataStore
   * Update the view

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
* N/A

[2021-10-02 00:46] mikaelacaron opened #70 "Empty View for No Categories"
**Is your feature request related to a problem? Please describe.**
* No

**Describe the solution you'd like**
* Show an empty view when there are no categories

**Describe alternatives you've considered**
* Maybe an onboarding flow to have the user add a category when the app is first downloaded
* Start the app with 3 default categories

**Additional context**
* N/A

[2021-10-05 09:55] TiwariPreeti commented on #63
please assign this issue to me

[2021-10-05 12:38] mikaelacaron commented on #63
@TiwariPreeti Done! Let me know if you have any issues!

[2021-10-06 04:40] mikaelacaron commented on #70
Fixed with #71

[2021-10-06 04:40] #70 closed

[2021-10-06 23:54] haIIux commented on #65
Could you please assign this to me? I am going to make an attempt on this! Only thing I'm wondering is if this feature is truly necessary since the application updates automatically every time you add a Tweet or Category.

[2021-10-07 00:37] SwiftSergio commented on #37
Please assign this issue to me.

[2021-10-07 00:56] haIIux commented on #65
Interesting, when I used the simulator and added a Category, it immediately added it to the list. Additionally in the simulator, when I added a Tweet to a category it added right away. Regardless, I will try to determine the most appropriate method to implement this feature. I have one roughed out and I believe it works, just need to figure out how to test it properly since I'm not having an issue

[2021-10-07 01:29] haIIux commented on #65
https://user-images.githubusercontent.com/47156971/136305975-4cb6eb0b-3594-44ab-8313-50752c6c9300.mp4

Current rendition. I need to figure out how to properly get the `emptyView()` properly centered again.

[2021-10-07 15:09] NiklasOemler opened #78 "Empty Tweet List View"
**Is your feature request related to a problem? Please describe.**
Like the empty list view for categories, id like to request the feature for handling it the same way for the tweet list.

**Describe the solution you'd like**
I can provide a generic empty list view for both lists like in #73.

Please add the topic Hacktoberfest and assign it to me if you want me to add this feature.
cheers

[2021-10-13 03:06] #69 closed

[2021-10-13 03:15] mikaelacaron opened #80 "Documentation"
**Describe the solution you'd like**
Document all code with access level `internal` or higher, except declarations made for protocol conformance or overriding subclasses. This allows developers to understand the intention and function of the public interface of types.

* Basically document all the functions

**Additional context**
This is the conform the the best practices described [here](https:/

[2021-10-15 18:25] jocelyn-boyd commented on #80
Hi Mikaela! ~ Could I get assigned to this issue? I'd like to try. :]

[2021-10-15 20:44] mikaelacaron opened #82 "FEATURE - Highlight Hashtags"
**Describe the solution you'd like**
* Highlight the hashtag like Twitter

**Additional context**
No need to have a hyperlink to the hashtag on Twitter, this is only to help highlight hashtags vs all the other words in a tweet
<img width="601" alt="Screen Shot 2021-10-15 at 4 43 16 PM" src="https://user-images.githubusercontent.com/22946902/137551166-d80b876d-ebae-4f5b-8d03-d55c8d49f383.png">
.

[2021-10-15 21:21] #63 closed

[2021-10-16 08:04] vcapilladeveloper commented on #67
@mikaelacaron I'm not making this issue, before start making it I normally review the task to understand and evaluate if I can make it.
Assign it to me this issue and I will try to find the best solution and explain to you before start to implement it.

[2021-10-16 11:40] IgorChernyshov commented on #82
Hi Mikaela, could you please assign this one to me? I'd like work on it.

[2021-10-16 21:14] vcapilladeveloper commented on #67
@mikaelacaron hi, How you think about this: (I will try to fix one bug because I can't make longpress on Spacer() inside CategoryRow and I don't know why.)

https://user-images.githubusercontent.com/36862920/137602253-278ec21f-043c-449e-93c6-f05658a2dabe.MP4

:

[2021-10-17 11:16] vcapilladeveloper commented on #67
Ok, I can end the Editing Mode for each movement, what do you think about it? Other issue that I'm trying to find the best solution is how the user edit the category? Maybe inside the category list view add an Edit button at the top right?

To fix the problem on longpress inside an empty location from the row, I put this:
[code]
This applye the long press gesture to the entire CategoryRow instead

[2021-10-17 12:44] mikaelacaron commented on #67
Hmmm that could work!
I originally based the design off the Notes app from Apple. To make it easy to use and understand.

I'm not sure if Notes is made with SwiftUI or UIKit.

Also you could change "Edit" to "Rename" instead, cause that's what Notes uses for verbiage

[2021-10-17 14:24] vcapilladeveloper commented on #67
Great, I will make it and show you the result

[2021-10-18 05:12] mikaelacaron commented on #66
You got this! Let me know if you have any issues or questions getting set up!

[2021-10-20 02:06] kiennguyenchi commented on #66
I want to ask that how the leading swipe action will work in this situation? We swipe the URL box and then it leads to category page right?
![Screen Shot 2021-10-19 at 9 59 14 PM](https://user-images.githubusercontent.com/63676786/138015697-90606ab3-8772-4651-b6fb-5b86f39432ae.png)

[2021-10-20 03:13] mikaelacaron commented on #68
Solved with PR #76

[2021-10-20 03:13] #68 closed

[2021-10-20 03:49] mikaelacaron opened #84 "Add Cancel Button"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Add a cancel button to left (leading) side of the navigation bar on the `AddURLView`
You must also include the functionality to dismiss this view when cancelled

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-10-20 04:47] mikaelacaron opened #85 "Create a Settings Tab"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
* Create a new tab called settings
* Move the InfoView to be the view for the SettingsView
* Remove the logo image in the center
* Add a hard coded list of the current contributors! (you can use GitHub usernames)
* Add a description of this project (some thing about how it's open source)

[2021-10-20 04:54] mikaelacaron opened #86 "Show Quote Tweets"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
If a tweet is a "Quote Tweet" show the original tweet, similar to Twitter.

**Describe alternatives you've considered**
N/A

**Additional context**

Note, for this specific issue, there is no need to show the image (like the screenshots below), that's a different issue.

_Current View_
<img

[2021-10-20 04:57] mikaelacaron opened #87 "Show Images"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
If a tweet has an associated image, display that image as well. For this issue focus only on a single image in a tweet, not a tweet with multiple images. (unless that can also be easily added, but I doubt it)

**Describe alternatives you've considered**
N/A

**Additional context**
Example t

[2021-10-20 22:42] mikaelacaron opened #88 "Tweet Body Not Showing"
**Describe the bug**
The tweet body is sometimes showing all of the tweet and other times truncating it and not showing the whole tweet.

**To Reproduce**
Steps to reproduce the behavior:
1. Paste a twitter URL into the `AddURLView`
2. Choose a category click save
3. Go to that category and scroll down to the tweet
4.

**Expected behavior**
See full tweet in body

**Screenshots**
<img width="293"

[2021-10-21 19:20] mikaelacaron commented on #84
Done! Let me know if you need any help!

[2021-10-22 00:43] jocelyn-boyd commented on #80
Will do! Sorry I got slammed with take-home assignments and interviews. I'm gonna work start working on the issue this weekend.

[2021-10-23 00:54] mikaelacaron commented on #67
That's okay! @vcapilladeveloper Do you want me to un-assign this issue from you? to allow others to contribute to this issue

[2021-10-26 17:50] AC40 opened #93 "Background flashes up despite folders being present."
**Describe the bug**
After pressing the leading navBarButton to add a folder and then canceling the sheet, or dismissing it any other way, the background view, which should only be shown when no folders have been created, flashes up for a split second or so and then disappears again.

**To Reproduce**
Steps to reproduce the behavior:
if no folders are present:
1. Add a folder with any name
then
2.

[2021-10-26 17:54] #93 closed, assigned to nobody

[2021-10-27 00:57] #88 closed, assigned to emanuelschmoczer

[2021-10-27 01:06] mikaelacaron opened #95 "Localize the app to a different language"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Localize the application to a different language other than English

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-10-27 19:26] #85 closed, assigned to AC40

[2021-11-03 00:53] M1zz commented on #87
sorry I think I can not make it :***(

[2021-11-03 01:36] mikaelacaron commented on #87
That's okay! Thanks for trying!

[2021-11-24 11:52] frhamadiansyah commented on #87
Hi! can I have a go at it? 😆

[2021-12-03 01:53] kiennguyenchi opened #100 "Feature: swipe to modify category name"
**Is your feature request related to a problem? Please describe.**
I can see that when users have some categories. They can swipe and choose to delete the category. What if user wants to modify the name of the category.

**Describe the solution you'd like**
I want to implement swipe action for the category, that also shows **Edit Button** next to existing **Delete Button** right now to modify the

[2021-12-03 01:54] kiennguyenchi commented on #100
Hi @mikaelacaron, I would like to work on this new feature. What do you think?

[2021-12-03 03:09] mikaelacaron commented on #100
Hi @kiennguyenchi this exists!
Press and hold on the row and a context menu pops up for editing

[2021-12-03 03:12] kiennguyenchi commented on #100
Should we change it to swipe action? Because holding the row like that seems not interactive to the user.

[2021-12-03 03:19] mikaelacaron commented on #100
At the moment I don't want to change it. I originally designed it after the Apple Notes app, and that's the interaction that they use for this action

[2021-12-03 03:38] kiennguyenchi commented on #100
Okay I see, I will propose another feature.

[2021-12-03 03:38] #100 closed

[2021-12-03 03:45] kiennguyenchi opened #101 "FEATURE: Pin Category"
**Is your feature request related to a problem? Please describe.**
I want to add a feature to pin the category to the top of category list.

**Describe the solution you'd like**
* When I hold a category right now, it shows an option **Edit**. I want to add an option **Pin**.
* When the category is pinned, it appears on top of category list.
* You can refer to the pin funcationality that Apple Note

[2021-12-03 03:49] mikaelacaron commented on #101
While I do think this is useful I think #67 could cover it for now

[2021-12-03 04:00] kiennguyenchi commented on #101
Hmm as long as #67 has not been implemented yet? Can you please give me a chance to try on the pin category feature? Thank you!

[2021-12-03 04:07] mikaelacaron commented on #101
You can try it! But personally at the moment I don't think it's necessary to implement

[2021-12-03 04:11] kiennguyenchi commented on #101
Thank you! Can you please assign it to me?

[2021-12-10 00:53] mikaelacaron commented on #37
Closes with PR #103

[2021-12-10 00:53] #37 closed

[2021-12-15 17:49] AC40 opened #105 "BUG when in the process of deleting a category."
**Describe the bug**
Visual glitch when deleting a category and opening the `CategorySheetView`

**To Reproduce**
Steps to reproduce the behavior:
1. Create at least one Category
2. Swipe to make the delete option appear trailing behind the category
3. Do not click it
4. Tap the + in the top leading corner to show `CategorySheetView`
5. Dismiss the `CategorySheetView` in any way
6. Bug: A read min

[2021-12-15 20:19] AC40 commented on #67
Hey Mikaela, could you assign me to this issue? I would like to try and continue @vcapilladeveloper`s work.

[2021-12-15 20:36] mikaelacaron commented on #67
Go for it! Thanks again for the help!

[2021-12-15 20:37] AC40 commented on #67
My pleasure. It's a great way to get to know more about the iOS world, other peoples code, conventions, etc.

[2021-12-15 20:45] AC40 commented on #105
This bug will be resolved after feature #67 will be implemented, since this has to do with then environment variable `editMode` and will be automatically fixed when implementing a reordering functionality.

[2021-12-16 00:58] mikaelacaron commented on #95
Closed with #104

[2021-12-16 00:58] #95 closed

[2021-12-16 02:02] mikaelacaron opened #106 "Export / Import Data"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Button on settings (or different screen) to export the data to a .csv file that could be saved in Files, or elsewhere.

**Describe alternatives you've considered**
I'm open to any suggestions to save data to a cloud database like AWS (because it already uses AWS Amplify DataStore) or some o

[2021-12-16 02:05] mikaelacaron opened #107 "Add Localizable Strings to Empty Screens"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
The empty category and empty tweet strings aren't localized into German and English (they were accidentally missed).

Create and use the Localizable Strings

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-12-20 17:37] AC40 opened #110 "BUG: TextField is squashed when creating a category"
**Describe the bug**
When creating a category, on small devices there is a chance the TextField gets pushed behind the NavigationTitle

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the leading button to create a new Category
2. Tap on the TextField so your Keyboard pops up

**Expected behavior**
There are two ways to solve this (or others, but those are the two I thought of):
Eith

[2021-12-22 17:13] AC40 commented on #110
I would like to work on this issue.

[2021-12-22 17:39] mikaelacaron commented on #110
When I had tried this on my simulator I saw this also happened on iPhone 13

[2022-01-12 17:41] mikaelacaron opened #115 "Export / Import"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
* In the settings view, be able to export all saved tweets to say the files app, as a JSON file.
* In the settings view be able to import this JSON file. (This would overwrite any tweets in the app at that moment)
* The JSON file would be a way to "backup" all the tweets because right now t

[2022-01-12 23:56] #110 closed

[2022-01-13 00:00] mikaelacaron commented on #106
duplicate lol

[2022-01-13 00:00] #106 closed

[2022-01-14 14:50] AC40 commented on #115
I would like to try and work on this issue.

[2022-01-14 14:53] mikaelacaron commented on #115
@AC40 Can you hold off on this for a minute. I haven't decide how I want to do this one yet and I'm having a current issue with the app at the moment after the latest changes

[2022-01-14 14:54] AC40 commented on #115
Sure

[2022-03-09 00:31] Astefani21 commented on #107
Hey, could I help out on this?

[2022-03-15 14:17] #107 closed

[2022-03-28 01:20] Mcrich23 commented on #82
Can I work on this?

[2022-03-28 17:07] Mcrich23 commented on #82
So I got it working with this code:

[code]
However, then all the hashtags are duplicated. Any ideas?

[2022-03-28 19:25] mikaelacaron commented on #82
Have you pushed this to your current branch? I can take a look.
Also be sure to use useful names, not `stri`, `str`, or `tex`

[2022-04-01 03:07] Mcrich23 commented on #115
Should I start working on this and instead do it though firebase?

[2022-04-01 03:07] Mcrich23 commented on #115
So people can just send a link and it will download all the data?

[2022-04-01 03:13] mikaelacaron commented on #115
No! I'd rather you work on #57

[2022-04-01 03:59] Mcrich23 commented on #86
Can I work on this

[2022-04-01 04:01] mikaelacaron commented on #86
I'd rather have you work on #57

[2022-04-01 04:07] Mcrich23 commented on #57
I can work on this

[2022-04-01 04:30] Mcrich23 commented on #57
Having trouble getting to Amplify from the sandboxed extension. Any ideas???

[2022-04-05 02:28] jakedgrant opened #123 "FEATURE - Integrate with Bookmarks API to add previously bookmarked tweets"
**Is your feature request related to a problem? Please describe.**
I have previously bookmarked tweets that I would like to add to Brain Marks but adding these one-by-one can be time consuming.

**Describe the solution you'd like**
Using the new twitter [bookmarks api](https://developer.twitter.com/en/docs/twitter-api/tweets/bookmarks/introduction), allow the user to organize these tweets into cat

[2022-04-05 12:23] mikaelacaron commented on #123
Oh interesting! I didn't see that Twitter added a new API!
I definitely want to integrate #57 , but this new API looks really nice too!

To use the bookmarks API though, it would mean users need to log into their Twitter accounts right?

[2022-04-05 18:26] jakedgrant commented on #123
Yeah, it would require generating a user access token with OAuth 2.0.

[2022-04-06 15:49] mikaelacaron commented on #123
Keeping the bookmarks in sync, how would that work? If you added a new bookmark on Twitter, would it be possible to trigger that to push to Brain Marks? Or on app launch Brain Marks would always look for any new tweets?

I like this feature! I think it needs to be broken up some more, cause it's pretty big!

[2022-04-13 23:00] marlonjames71 commented on #66
So I've been trying to implement this, but there's an issue. As soon as you add `swipeActions` whether leading or trailing, it cancels out any `onDelete` modifier which has the nice delete animation. I'm reading that you're left with trying to implement your own delete animation, but `List`s don't really play nicely with that.

A solution I'm proposing is turning the tweets `List` into a `LazyVSta

[2022-04-14 16:05] mikaelacaron commented on #66
That's interesting, and sure! Go ahead and try that

[2022-05-02 00:59] marlonjames71 commented on #66
Was able to retain the swipe features. Not sure why I was having an issue before. Anyway, [PR](https://github.com/mikaelacaron/brain-marks/pull/124) is up for this issue.

[2022-05-15 00:54] aerickson14 commented on #58
Tried editing a category a few times in a row (10 or so) and it seems to be correctly updating the label every time. It's possible this issue may have gone away with some of the recent updates in the `dev` branch.

[2022-05-15 03:04] aerickson14 opened #126 "FEATURE: Add unit tests"
**Is your feature request related to a problem? Please describe.**
At the moment there are no unit tests and parts of the app (Views and their @State variables) are hard to test.

**Describe the solution you'd like**
Following https://www.swiftbysundell.com/articles/writing-testable-code-when-using-swiftui/ I'd like to do the following:
- Refactor `DataStoreManager` into a protocol and have the cu

[2022-05-15 03:10] mikaelacaron commented on #58
Thanks for checking @aerickson14 ! I'll close it for now, it can always be re-opened if it comes back

[2022-05-15 03:10] #58 closed

[2022-05-15 03:12] mikaelacaron commented on #126
@aerickson14 This looks great! If you want to work on this, let me know and I'll assign it to you!
I don't think we need to test the `Views`, just the `ViewModel`s

[2022-10-01 19:59] mikaelacaron commented on #105
I no longer see this bug in iOS 16.0, so I'm going to close the issue for now.
I'm preparing for Hacktoberfest 22

[2022-10-01 19:59] #105 closed

[2022-10-01 20:13] mikaelacaron commented on #67
Fixed with PR #111

[2022-10-01 20:13] #67 closed

[2022-10-01 20:35] mikaelacaron commented on #87
@frhamadiansyah Good work!!
Getting the repo ready for Hacktoberfest 2022

[2022-10-01 20:35] #87 closed

[2022-10-01 21:20] byaruhaf opened #128 "Update Secrets Management use Xcode Build Configuration Files"
**Is your feature request related to a problem? Please describe.**
This is to improve ease of contribution & initial setup when the repo is first cloned.

**Describe the solution you'd like**
Move secrets to use Xcode Build Configuration Files.
Add a script to generate these files after you've first cloned the repository.

[2022-10-01 21:57] byaruhaf opened #129 "Replace all print commands to the console with Apple's unified logging system"
**Is your feature request related to a problem? Please describe.**
update from print command to Apple's unified logging system

**Describe the solution you'd like**
Replace all print commands to the console with Apple's unified logging system

[2022-10-01 22:00] byaruhaf commented on #129
Please assign me to this issue, if the issue is approved.

[2022-10-01 22:00] byaruhaf commented on #128
Please assign me to this issue, if the issue is approved.

[2022-10-01 22:09] #65 closed

[2022-10-01 22:10] mikaelacaron commented on #78
This looks like it's done "No tweets saved!" shows when you tap on a category with no tweets.

[2022-10-01 22:10] #78 closed

[2022-10-01 22:14] SuzGupta commented on #80
If we want to use DocC: https://www.raywenderlich.com/34919511-docc-tutorial-for-swift-getting-started

[2022-10-01 22:19] mikaelacaron commented on #123
Putting this on hold for now, during Hacktoberfest 2022, but this would be great to add in the future!

[2022-10-01 22:28] SuzGupta opened #130 "FEATURE: Add alternate app icons"
**Is your feature request related to a problem? Please describe.**
I get bored when an app only has one icon. I love choices!

**Describe the solution you'd like**
I'd like to see alternate app icons.

**Describe alternatives you've considered**
Honestly, I have not yet considered other options because I think alternative app icons are super fun and fairly straightforward. Really, this is primaril

[2022-10-01 22:31] mikaelacaron opened #131 "FEATURE - Use all SF Symbols for a Category Icon"
**Describe the solution you'd like**
* Show all the SF symbols on the `CategorySheetView`, as opposed to random hard-coded set of 20 of them

**Describe alternatives you've considered**
* Show most of the symbols and hard-code them all?
* Show all the symbols and separate them into the SF symbols categories

**Additional context**
* I want there to be more than 20 icons that the user can choose fr

[2022-10-01 22:38] SuzGupta opened #132 "FEATURE - Create a companion Apple Watch app"
**Is your feature request related to a problem? Please describe.**
I am always frustrated when an app I enjoy is not available on the Watch. And by "always" I mean for the last two days, since I just started using a Watch 😆

**Describe the solution you'd like**
I'd like us to work together to build a companion app for the Watch.

**Describe alternatives you've considered**
Living without this, was

[2022-10-01 22:42] mikaelacaron opened #133 "Update Copy on Settings View"
**Describe the solution you'd like**
* Update the copy on the `SettingsView`, be sure to update the German localization.
* See the `Localization` files: `BrainMarksIsOpenSource...` and `IfYouWantToContribute`
* Also please change the key `BrainMarksIsOpenSource...` to not have 3 dots

* First Block
[code]
* Second Block
[code]

**Describe alternatives you've considered**
A clear and concise descri

[2022-10-01 22:54] YSBoomOfficial opened #134 "FEATURE - Localise the App to French"
**Is your feature request related to a problem? Please describe.**
N/a

**Describe the solution you'd like**
Make a new `Localizable.strings` file with French translations for the English keys.

**Describe alternatives you've considered**
Future PRs could also add a variant of the Localization to support both Standard French (fr) and Canadian French (fr-ca).

**Additional context**
N/a

[2022-10-01 22:59] SuzGupta opened #135 "FEATURE - Add additional localizations - Multiple people can be assigned this issue"
**Is your feature request related to a problem? Please describe.**
Users who speak languages other than English and/or German are currently not well served by this app.

**Describe the solution you'd like**
Let's add additional localizations. We could consider using the CrowdIn platform and crowd-sourcing the localization process as is done on the [Open Food Facts project](https://wiki.openfoodfac

[2022-10-01 23:05] SuzGupta opened #136 "FEATURE - Support all Dynamic Type sizes throughout the app"
**Is your feature request related to a problem? Please describe.**
Anyone with aging eyes (hello!) or vision issues relies on Dynamic Type. All apps should support this.

**Describe the solution you'd like**
Full support for all sizes of Dynamic Type throughout the app

**Describe alternatives you've considered**
Partial support for Dynamic Type (if that's a thing); just not supporting Dynamic Typ

[2022-10-01 23:09] SuzGupta opened #137 "FEATURE - Support VoiceOver screen reader"
## Describe the feature you want the app to have that it currently doesn't
Let's add VoiceOver screen reader support as we start to think through how to improve accessibility for this app.

## Describe alternatives you've considered
Really, the main alternative is waiting and adding this support later. Right now, folks who rely on VoiceOver cannot utilize this app, so we are not supporting all pos

[2022-10-02 01:10] mikaelacaron opened #138 "Analytics Ideas"
## Describe the feature you want the app to have that it currently doesn't
* What kind of frameworks can I add to the app to track what versions users are on?
* Also interested in tracking events, like people saving tweets (not the actual content, but just events)

## Describe alternatives you've considered
* I'm open to any options that are available via SPM

## Additional context
* Interesting i

[2022-10-02 01:15] mikaelacaron opened #139 "SwiftUI Optimization Use toolbar modifier"
## Describe the feature you want the app to have that it currently doesn't
* Replace `navigationBarItems` on `AddURLView` with the `.toolbar` modifier instead using `ToolbarItem`
* Replace others if needed

## Describe alternatives you've considered
* N/A

## Additional context
* N/A

[2022-10-02 01:18] mikaelacaron opened #141 "REFACTOR - Async / Await"
## Describe the feature you want the app to have that it currently doesn't
* Refactor and use async / await syntax for fetching a tweet

## Describe alternatives you've considered
* N/A

## Additional context
* In `AddURLViewModel.swift` in the function `fetchTweet` change the function to use async / await syntax

[2022-10-02 02:04] rashmisubhash commented on #141
Can I take this up?

[2022-10-02 02:38] Miablo commented on #139
May I be assigned this issue?

[2022-10-02 02:39] Miablo commented on #136
May I be assigned this issue as well? It looks fairly straight forward... unless i'm missing something.

[2022-10-02 04:38] mikaelacaron commented on #139
@Miablo I assigned #139, I'm going to limit it to one issue at a time for now

[2022-10-02 04:40] mikaelacaron commented on #136
@Miablo same comment as [here](https://github.com/mikaelacaron/brain-marks/issues/139#issuecomment-1264548644) right now, I'd like to limit it to one issue per person. But if you finish the issue you're assigned, more than welcome to grab new ones!

[2022-10-02 05:20] mikaelacaron opened #142 "FEATURE - Small Widget - Create New Tweet"
## Describe the feature you want the app to have that it currently doesn't
* Widgets! 😍
* Create a small widget for adding a new tweet

## Describe alternatives you've considered
* I'm open to ideas for any widgets of any size

## Additional context
* Tapping on the widget brings you to the `AddURLView` for pasting a tweet link and choosing a category

[2022-10-02 05:21] mikaelacaron opened #143 "FEATURE - Small Widget - Create a New Category"
## Describe the feature you want the app to have that it currently doesn't
* Widgets! 😍
* Create a small widget for adding a new category

## Describe alternatives you've considered
* I'm open to ideas for any widgets of any size

## Additional context
* Tapping on the widget brings you to the `CategorySheetView` for creating a new category

[2022-10-02 21:20] Drag0ndust commented on #133
May I take this issue?

[2022-10-03 01:54] SuzGupta opened #144 "BUG - Shouldn't need to reselect prefilled category"
## Describe the bug
When adding a tweet link, the category field is automatically populated with the first category created, which is fine (although maybe should be the most recently created category). However, the app doesn't seem to know that and then wants you to select a category again.
## To Reproduce
Steps to reproduce the behavior:
1. Add one or more categories
2. Add a tweet link
3. Tap Sa

[2022-10-03 14:27] #134 closed, assigned to YSBoomOfficial

[2022-10-03 15:42] heyjaywilson commented on #138
Are you also wanting identifiable sessions? So a user's ID is assigned to an event or events that they do or just want to keep track of "save tweet tapped on {date}"?

[2022-10-03 16:04] heyjaywilson commented on #138
I've been on projects that used [Segment](https://segment.com) to feed into other analytics platforms including GA or a custom database. You can install the SDK via SPM and then send it to a platform that doesn't have SPM support if you are leaning towards one that doesn't.

[2022-10-03 16:23] mikaelacaron commented on #138
I'm open to either, if there's a big reason for one or the other I'd love to hear it.

I'm leaning on using [Telemetry Deck](https://telemetrydeck.com)

[2022-10-03 16:59] heyjaywilson commented on #131
Can I be assigned to this?

Do you have a specific set you want to default to and then maybe allow a user to search for more or see all?

[2022-10-03 17:56] mikaelacaron commented on #131
nah I don't care what the default is, but that's a good idea to have a default, and then they can expand to see more

[2022-10-03 19:11] k-stannard commented on #130
I'd like to work on this!

[2022-10-03 19:38] mikaelacaron commented on #130
You got it! you can also convert it to use a single asset rather than needing all the different sizes (I think that's an Xcode 14 thing), but please correct me if I'm wrong

[2022-10-03 20:29] k-stannard commented on #130
Sweet, thanks Mikaela! I will look into that! Also, does this issue qualify for Hacktoberfest?

[2022-10-03 20:32] mikaelacaron commented on #130
@k-stannard yes! forgot the tag 👻

[2022-10-03 23:37] SuzGupta commented on #144
@mikaelacaron Changed my mind... please do assign me, although right now I have no idea how to fix this 😆

[2022-10-04 00:49] mikaelacaron commented on #144
No worries! Neither do I 😂

[2022-10-04 01:35] SuzGupta commented on #144
@mikaelacaron looking into this a little, `AddURLView()` shows the alert when `selectedCategory.name` is an empty string. I added a print statement to learn a little more. Both that and the "Got single category" print aren't working as expected:

[code]
I'm wondering if I should wait until you kill off AWSAmplify and see if that resolves this issue. What do you think?

[2022-10-04 02:08] mikaelacaron commented on #144
hmmmm, that's interesting the category name is empty, the model will still look the same as `AWSCategory` as the new one that I'll be making, but maybe it'll be best to wait until AWS is gone

[2022-10-04 04:11] SuzGupta commented on #144
The category name shouldn't be seen as empty there though (for example, in the screencap above, we see the category name "Education Generally") which makes me wonder if it's better to wait until AWS is gone. If so, may I pick another issue? Sorry for the assigning/unassigning hassle :/

[2022-10-04 04:28] mikaelacaron commented on #144
No worries!

[2022-10-04 15:43] #128 closed, assigned to nobody

[2022-10-04 15:53] Kiran-B commented on #135
Hi... I created a draft PR for this. As this integration is highly subjective, looking for the feedback: https://github.com/mikaelacaron/brain-marks/pull/148

[2022-10-04 16:02] mikaelacaron commented on #135
I'll take a look @Kiran-B , Next time please comment on the issue you're working on so that two people aren't working on the same issue at the same time

[2022-10-04 16:05] Kiran-B commented on #135
Noted @mikaelacaron . Thanks a ton.

[2022-10-04 22:54] SuzGupta commented on #143
@mikaelacaron can I try this one please?

[2022-10-05 01:39] #133 closed, assigned to Drag0ndust

[2022-10-05 14:37] haIIux commented on #138
I see this issue has not been assigned, has anyone claimed this issue to tackle? Aside from the items in the issue post, do you have any additional items you'd like to log?

[2022-10-05 14:58] mikaelacaron commented on #138
Not at the moment, but I'm kinda leaning on doing this one myself, because I have a huge bug 🐛  to fix, and I might add this at the same time to know how many people update to the new version

[2022-10-05 15:06] haIIux commented on #138
Okay! Sounds good, I'll poke around for another issue to tackle.

[2022-10-05 15:46] Drag0ndust commented on #144
I can have a look, if you like

[2022-10-05 16:59] haIIux commented on #139
May I be assigned to this please?

[2022-10-05 17:03] mikaelacaron commented on #139
@haIIux Someone is already assigned to this issue

[2022-10-05 17:16] haIIux commented on #139
Ah. Just seing that now I need more coffee!

[2022-10-05 17:34] WDI-Json commented on #129
Can I pick this up?

[2022-10-06 09:53] Drag0ndust commented on #141
I can help here if you want @rashmisubhash  and @mikaelacaron

[2022-10-06 09:59] Drag0ndust commented on #126
I would add some unit tests if it is fine for you

[2022-10-06 10:40] Drag0ndust opened #150 "FEATURE - RequestBuilder"
## Describe the feature you want the app to have that it currently doesn't
*  Create a RequestBuilder for creating URLRequests in AddURLViewModel
* and maybe also in other places of the app

[2022-10-06 10:41] Drag0ndust commented on #150
I can work on this issue and also create Unit tests for it.

@mikaelacaron If it is ok, please add the hacktoberfest label and assign me ;)

[2022-10-06 13:05] mikaelacaron commented on #141
@rashmisubhash and @Drag0ndust you're welcome to collaborate! I'm not sure how it works with Hacktoberfest and if the PR will count for you both

[2022-10-06 13:06] mikaelacaron commented on #150
What are you looking for in a Request Builder? Can you elaborate on what that is?

[2022-10-06 13:59] ghost commented on #80
I would like to contribute by documenting the functions. Could you please assign it to me ?

[2022-10-06 15:12] Drag0ndust commented on #150
Actually it's just encapsulating some functions in a separate object to make the code more testable and remove the code from the viewmodel.
Will open a PR later, then you can decide if you want it or not 😉

[2022-10-06 18:13] ericjenkinson commented on #137
Hello. I would like to be assigned this request.

[2022-10-08 01:45] mikaelacaron commented on #129
Closed with #147

[2022-10-08 01:45] #129 closed, assigned to byaruhaf

[2022-10-08 02:36] #144 closed, assigned to Drag0ndust

[2022-10-08 02:43] mikaelacaron commented on #135
I don't want to use CrowdIn at the moment, but anyone is welcome to add any other languages manually!
See info in #148

[2022-10-08 06:30] murilxaraujo commented on #135
Hey, I'd like to provide translation for Portuguese(Brazil)

[2022-10-08 14:55] mikaelacaron commented on #135
@murilxaraujo Go for it!

[2022-10-08 17:50] Jakayus commented on #132
Hi @mikaelacaron, I would like to try this out! May I have this issue?

[2022-10-08 19:13] mikaelacaron commented on #132
@Jakayus Go for it! I think a watch app showing the saved tweets would be good, not adding any additional ones. Also I am in the process of removing AWS Amplify DataStore from the project, and instead saving all the tweets to a JSON file. I'm not sure if that will affect how you implement the watch app

[2022-10-09 00:32] #139 closed, assigned to Miablo

[2022-10-09 00:55] Jakayus commented on #132
@mikaelacaron Thank you for that clarification on the functionality - I also lean towards just viewing the tweets.
Unclear whether it will affect implementation or not yet. I'm also just learning about HomeBrew and SwiftLint thanks to your repo, so I'm getting up to speed setting up environment, but those sound so cool!!

Can I ask any critical design questions that come up here, or is there a pre

[2022-10-09 02:23] mikaelacaron commented on #132
Feel free to ask here, or DM me on Insta or Twitter, see [links here](https://github.com/mikaelacaron)

I'll probably respond faster on Insta or Twitter haha

And yeah definitely only view tweets (and categories) on the watch, cause I don't even think it's possible, haha or would take a lot of work, to paste links into a watch, to even add them to the list

[2022-10-09 04:12] mikaelacaron opened #155 "FEATURE - Lock Screen Widget"
## Describe the feature you want the app to have that it currently doesn't
* Create a lock screen widget for viewing a specific category's tweets

## Describe alternatives you've considered
* None, I'm open to any other lock screen widget ideas, comment below!

## Additional context
* N/A

[2022-10-09 05:29] mikaelacaron commented on #138
I'm adding [Telemetry Deck](https://dashboard.telemetrydeck.com/) and fixing a bug, to be able to have a better idea of what version users are on, before submitting all the changes from Hackoberfest

[2022-10-09 05:29] #138 closed, assigned to nobody

[2022-10-10 19:58] MarshallARoss commented on #82
I'd like to take a crack at this one please 😄

[2022-10-10 19:59] Mcrich23 commented on #82
I'm pretty sure I got it working

[2022-10-11 00:04] SuzGupta commented on #143
I've gotten part of the way there on this but need help figuring out the deep linking part. I've got a draft PR open here: https://github.com/mikaelacaron/brain-marks/pull/156 . Would welcome advice!

[2022-10-11 18:56] Drag0ndust commented on #141
Now everything should be fine @mikaelacaron

[2022-10-12 00:37] #141 closed, assigned to nobody

[2022-10-12 22:14] SuzGupta commented on #142
I'd like to try this one next please.

[2022-10-12 22:15] SuzGupta commented on #155
I'm interested in trying this one as well. I want to put some more thought into what would be a truly useful lock screen widget from this app.

[2022-10-12 22:59] mikaelacaron commented on #130
Closed with #153

[2022-10-12 22:59] #130 closed, assigned to k-stannard

[2022-10-12 23:56] mikaelacaron commented on #142
You got it! Wait until I merge #156

[2022-10-12 23:57] mikaelacaron commented on #155
Yeah let me know! I'm only assigning one issue per person at the moment
Feel free to drop any ideas here and others may be interested as well!

[2022-10-13 00:44] MarshallARoss commented on #82
Submitted the pull request for this ✅

[2022-10-13 01:13] SuzGupta commented on #155
Yeah, I understand and that definitely seems like a fair approach, one issue at a time per contributor. I will comment further when I come up with some Lock Screen possibilities.

[2022-10-13 01:14] SuzGupta commented on #142
Thanks, hopefully tomorrow🤞

[2022-10-13 05:46] alfinsyahruddin commented on #135
Hi @mikaelacaron, I want to add localization for Indonesian

[2022-10-13 16:26] aopoka commented on #136
Hey! Can I be assigned to this issue? It would be my first one :)

[2022-10-13 16:38] mikaelacaron commented on #136
@aopoka Go for it! I think it's mainly set up to support dynamic type inherently, but there may be some UI changes here and there when at very large or small dynamic type sizes that should be verified for the best experience

[2022-10-13 19:45] MarshallARoss commented on #82
@mikaelacaron Please help. I've been trying to squash for 3 hours and it's not working. I've read your linked guide, YouTubed, stack overflowed, Googled. I'm literally at my wits end and I don't want to mess anything up.

[2022-10-13 19:49] mikaelacaron commented on #82
DM me on Insta or Twitter, [links here](https://mikaelacaron.com/links/), and we can coordinate a time to pair

[2022-10-13 22:49] #143 closed, assigned to SuzGupta

[2022-10-14 00:54] SuzGupta commented on #130
@k-stannard I love these icons, so fun!!

[2022-10-14 01:35] SuzGupta commented on #132
Yeah, I was just thinking more about this too and I think the Watch app lists saved categories (with icons? without? optionally just with icons? [what about when the same icon is used for more than one category though]) and then, when you tap a category, see the s saved in that category. Tapping the start of a tweet should show the whole Tweet in some decent-looking text view. Unless there's some

[2022-10-14 01:38] SuzGupta commented on #132
The Chirp screens at least provide a decent approach of how to display Tweets on the Watch.

[2022-10-14 04:29] #150 closed, assigned to Drag0ndust

[2022-10-14 04:48] mikaelacaron commented on #135
😍  Multiple people can be assigned to this issue!! (for localizing different languages)

Note: You my encounter merge conflicts with others

[2022-10-15 06:20] Jakayus commented on #132
Thank you for the ideas @SuzGupta  I checked out the tweets in the Chirp app and it is a good example! Icons based list sounds good too.

Unfortunately I did not get that far - Learned this week that AWS Amplify does not support watchOS (it is even stated on their GitHub page) and spent some time trying to formulate workarounds, but they are not very swifty approaches, and definitely not using the

[2022-10-16 04:34] Jakayus commented on #135
I would like to work on the Spanish version if that's fine with you! @mikaelacaron  (I unassigned myself from the watch issue).

[2022-10-16 15:37] mikaelacaron commented on #132
@Jakayus thanks so much! I'll add a hold label to this one for now

[2022-10-16 15:43] mikaelacaron opened #163 "FEATURE - What's New Screen"
## Describe the feature you want the app to have that it currently doesn't
* Add a new section to the settings tab (before the appearance section) called "Updates" and the row is called "what's new"
* Show markdown file of the updates for each version
[code]

## Describe alternatives you've considered
* Possibly fetching JSON that's stored in GitHub? (So that it can be updated in GitHub, and we do

[2022-10-19 08:05] helloITdepartment commented on #80
I'd like to help out with this if you still need it

[2022-10-19 13:56] mikaelacaron commented on #80
@ankurwasnik is assigned this issue right now, but if they don't get to it in the next 3 days, go ahead!

@ankurwasnik let me know if you're still working on this

@helloITdepartment you can always find a different issue to work on :)

[2022-10-20 02:35] SuzGupta commented on #155
Still pondering ideas, would still like to be assigned when/if current PR is accepted.

[2022-10-22 22:00] mikaelacaron commented on #142
Closed with PR #167

[2022-10-22 22:00] #142 closed, assigned to SuzGupta

[2022-10-22 22:03] mikaelacaron commented on #155
We could have a lock screen widget go directly to the `TweetList` view, and the user can choose which "list" meaning which category, they want a "hyperlink" for on their lock screen

The widget could be the icon that's saved for that category

[2022-10-22 22:17] SuzGupta commented on #163
Would love to give this a try.

[2022-10-22 22:41] #82 closed

[2022-10-23 01:24] SuzGupta commented on #163
The initial changes to the Settings view are trivial (already done as shown in attached screencap) and I should be able to figure out how to show the new view as well, but I am less clear on how to get the information. Should I use the App Store Connect API as described here: https://www.avanderlee.com/swift/app-store-connect-api-adoption/?
![SettingsView](https://user-images.githubusercontent.com

[2022-10-23 01:32] SuzGupta commented on #163
If using this API is the correct approach, a key needs to be generated within App Store Connect. This is explained in the SwiftLee article linked above.

[2022-10-23 13:05] mikaelacaron commented on #163
@SuzGupta naaahhh just hard code a description!

[2022-10-24 02:14] SuzGupta commented on #163
Whew, that sounds so much easier :D

[2022-10-24 02:32] mikaelacaron commented on #163
@SuzGupta  Yes! I don't care at all that it's not autoupdating, considering this app doesn't have constant updates at the moment!

[2022-10-24 15:11] ericjenkinson commented on #137
Hello Mikaela,

I am working on the VoiceOver and with SwiftUI all of the controls have Voice Over enabled. At this time the only change I have made is the not have voice over read the description of the background image as it does not aid in the navigation or description of the app. The new Category sheet is sort of distracting via VoiceOver as every button, label, and icon are read. I do not kno

[2022-10-24 15:32] mikaelacaron commented on #137
@ericjenkinson Thanks! Mainly this was an audit, because I wasn't sure what all was covered. I don't think we can do any voice over with the images in a tweet unless there's a way to fetch the alt text of a tweet

I would think that the new category sheet, it'd be useful to only read the icons when a person is hovering over them, as opposed to reading them all the second you see the view

What do

[2022-10-24 15:37] ericjenkinson commented on #137
Great. I will remove the reading of the icons as a set, but still read the icon when the user navigates through them.

[2022-10-24 15:48] mikaelacaron commented on #137
@ericjenkinson  Perfect thanks! Let me know if you have any other questions!

[2022-10-25 13:38] mikaelacaron commented on #136
@aopoka how's it going working on this issue? Do you have any questions? Do you think you'll complete it by the end of Hacktoberfest?

[2022-10-25 13:39] mikaelacaron commented on #80
@ankurwasnik how's it going working on this issue? Do you have any questions? Do you think you'll complete it by the end of Hacktoberfest?

[2022-10-25 13:39] mikaelacaron commented on #131
@heyjaywilson  how's it going working on this issue? Do you have any questions? Do you think you'll complete it by the end of Hacktoberfest?

[2022-10-25 13:40] ghost commented on #80
I think I will complete this before due.

On Tue, Oct 25, 2022 at 7:09 PM Mikaela Caron ***@***.***>
wrote:

[2022-10-25 13:40] heyjaywilson commented on #131
@mikaelacaron no questions. Gonna work on it tonight on stream. Just took a bit of thinking. Should be done tonight ✌️

[2022-10-25 16:03] SuzGupta commented on #155
That sounds straighforward, what you propose above. Another option (that I suspect is a little harder to code, proposing this before trying) would be to show the last three saved Tweets and a tap would just open the app (so no deep link, just the default widget behavior). View would be kinda like this:
![BrainMarksLockscreenWidget](https://user-images.githubusercontent.com/5115383/197824338-dd646d

[2022-10-25 17:02] mikaelacaron commented on #155
@SuzGupta It won't be more than say 3-5 words, so I would lean on not showing any individual tweets.
Cause Lock Screen widgets are supposed to be glanceable information

[2022-10-25 17:33] SuzGupta commented on #155
Yeah, excellent point. So, I think this will be of type `.accessoryCircular` and I will have a go at implementing just what you suggested above 🤞

[2022-10-26 07:45] ghost commented on #80
do we have to create a new file for all documentation or just add multi-line comments above each function ?

[2022-10-26 12:10] mikaelacaron commented on #80
@ankurwasnik you should create multi-line comments, as described [here](https://github.com/mikaelacaron/brain-marks/issues/80#issuecomment-949793979)

[2022-10-26 22:18] DominatorVbN opened #170 "BUG - Weird Category Picker behaviour on initial app run when there is no category"
## Describe the bug
* When used launches the app first time and navigates to the add tweet URL page, the picker picks the category, and renders a weird circle when tapped.

## To Reproduce
Steps to reproduce the behavior:
1. Go to the 'Add Tweet URL' page after clean install
2. Click on the 'Category' right part of it
4. See error

## Expected behavior
* My assumption is this should be handled by

[2022-10-26 22:28] DominatorVbN opened #171 "BUG - Invalid API access from background thread"
## Describe the bug
* Codebase contains multiple invalid API access code paths either publishing or accessing unsupported API from background threads

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'Create category
2. Add a new category
3. Repeat above steep for 5-10 time
4. See error in the Xcode console

## Expected behavior
* There should be no invalid access occurring, this could le

[2022-10-26 23:00] mikaelacaron commented on #170
@DominatorVbN I haven't seen this before!
What iOS version are you running?

[2022-10-27 05:54] DominatorVbN commented on #170
I used iPhone 14 Pro Simulator from XCode 14.1.0 beta with iOS 16.1 beta

[2022-10-27 13:30] mikaelacaron commented on #170
If you run this on _not_ a beta software, do you see the same behavior?
Next time when creating a bug report please do not delete this info from the template:

## Device Info (please complete the following information):
 * Device: [e.g. iPhone14]
 * OS: [e.g. iOS 16.0]
 * App Version [e.g. v1.5]

[2022-10-27 15:05] aopoka commented on #136
Hi @mikaelacaron, I'm having trouble building the project, I pulled the latest version from the `dev` branch but I get a lot of errors connected to the `Logger` and string interpolation. Are you facing similar issues?

[2022-10-27 15:09] mikaelacaron commented on #136
@aopoka  I haven't! Have you read the readme and contributing documents?

[2022-10-27 16:14] DominatorVbN commented on #86
Hey @mikaelacaron,
I would like to pick this up, can you assign it to me ?

[2022-10-27 16:19] mikaelacaron commented on #86
@DominatorVbN are you planning on completing this before Hacktoberfest ends?

Or just want to work on it (so that I'm aware how to prioritize it)

[2022-10-27 16:49] DominatorVbN commented on #86
I am already working on it and planning to create a PR today itself if there is no blocker.
But definitely before hacktoberfest ends

[2022-10-27 18:12] DominatorVbN commented on #86
@mikaelacaron Having an issue altering the AWSTweet model, this is my first time working with AWS Amplify can you guide me on how to add a new field

This is the change I am trying to do.

[code]
[code]

[2022-10-27 18:16] mikaelacaron commented on #86
@DominatorVbN oh honestly I forgot that you may need to change AWS Amplify, I would suggest a different issue because I am about to remove AWS Amplify from the project completely

[2022-10-27 18:28] DominatorVbN commented on #86
Ah okay, I kind of did the initial model changes needed in `Response`,
Creating a draft PR in case you want to continue from there https://github.com/mikaelacaron/brain-marks/pull/175

[2022-10-27 18:30] mikaelacaron commented on #86
@DominatorVbN I've now made it a draft PR, it wasn't one. I'll unassigned you from this issue and you can choose another one!
Also next time please fill out the PR template, and do NOT just submit the template with no changes

[2022-10-27 23:11] Kanishka3 commented on #135
Hey! @mikaelacaron Can you assign the hindi localization to me?

[2022-10-28 21:31] MikesHorcrux commented on #171
Ill take a look at this bug and see if I can fix/ reproduce

[2022-10-29 16:57] MikesHorcrux commented on #171
@mikaelacaron  I keep getting

`2022-10-29 11:55:19.613688-0500 brain-marks[21129:2679872] [Networking] ❌ Status code is 401`

when trying to save a tweet I have my twitter api key in my secrets and still no go. am I missing something ?

[2022-10-29 20:41] Kanishka3 commented on #135
https://github.com/mikaelacaron/brain-marks/pull/176 Added Hindi Localization here

[2022-10-29 22:18] MikesHorcrux commented on #171
was able to reproduce this error but not with creating a category, this errors stems from the contribution view.

screen shot below
![Screenshot 2022-10-29 at 5 18 25 PM](https://user-images.githubusercontent.com/53712873/198854420-4637507a-2dbe-4bc6-b692-63d140db7dd9.png)

[2022-10-30 02:01] mikaelacaron commented on #171
@DominatorVbN I also only got this error on the `SettingsView` with the list of contributors, not when creating a new category
Are you able to take a screen recording of you reproducing this?

[2022-11-05 02:37] mikaelacaron commented on #171
Closed with #177

[2022-11-05 02:37] #171 closed, assigned to MikesHorcrux